---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
BinPackArguments: false
AlignOperands: Align
BreakBeforeBinaryOperators: All
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 4
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
BinPackParameters: false
TabWidth: 4
IndentWidth: 4
